fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib
bcrypt==3.2.0
pydantic
jinja2
streamlit
psycopg2-binary
langchain
langchain-google-genai
google-generativeai
pypdf2
faiss-cpu
sentence-transformers
python-dotenv
pyjwt
aiohttp
beautifulsoup4
lxml
langchain_huggingface
